[submodule "Registry"]
	path = Registry
	url = git@github.com:prometey1982/Registry.git
[submodule "fast-cpp-csv-parser"]
	path = fast-cpp-csv-parser
	url = git@github.com:ben-strasser/fast-cpp-csv-parser.git
[submodule "j2534"]
	path = j2534
	url = git@github.com:prometey1982/J2534.git
[submodule "argparse"]
	path = argparse
	url = https://github.com/prometey1982/argparse.git
[submodule "libintelhex"]
	path = libintelhex
	url = git@github.com:prometey1982/libintelhex.git
